.user {
  flex: 4;
  padding: 20px;
}

.user-container {
  display: flex;
  margin-top: 20px;
  padding-bottom: 100px;
}

.user-show {
  flex: 1;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.user-details {
  flex: 2;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  margin-left: 20px;
}

.user-show-top {
  display: flex;
  align-items: center;
}

.user-show-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.user-show-top-title {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.user-show-username {
  font-weight: 600;
}

.user-show-user-title {
  font-weight: 300;
}

.user-show-bottom {
  margin-top: 20px;
}

.user-show-title {
  font-size: 14px;
  font-weight: 600;
  color: rgb(175, 170, 170);
}

.user-show-info {
  display: flex;
  align-items: center;
  margin: 20px 0px;
  color: #444;
}

.user-show-icon {
  font-size: 16px !important;
}

.user-show-info-title {
  margin-left: 10px;
}

.user-details-title {
  margin-top: 30px;
  font-size: 26px;
  font-weight: 700;
  color: #223354;
}

.details-title {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 700;
  color: #223354;
}

.userUpdateRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.supervisors-box {
  display: flex;
  flex-direction: row;
}

.additional-information-title {
  color: #223354b3;
  font-size: 18px;
  font-weight: 600;
}

.supervisor-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 10px;
}

.supervisors {
  margin-right: 20px;
}

.appreciations-wrapper {
  margin-top: 10px;
}

@media only screen and (max-width: 900px) {
  .user-container {
    flex-direction: column;
  }

  .user-details {
    margin: 0;
  }
}
