.toggle-navbar {
  display: none;
  height: 100%;
  width: 280px;
  background-color: #222b45;
  position: fixed;
  overflow-x: hidden;
  top: 0;
  left: 0;
  z-index: 1;
  line-height: 2;
}

.toggle-menu-wrapper {
  padding: 20px;
  color: #555;
}

.toggle-menu-list {
  list-style: none;
  text-align: center;
}

.toggle-menu-title {
  font-size: 13px;
  color: rgb(187, 186, 186);
  text-align: left;
  padding-left: 10px;
}

.toggle-menu {
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .toggle-navbar {
    display: block;
    color: #fff;
  }

  .menuIcon {
    display: inline;
    cursor: pointer;
    padding: 20px;
  }

  .sidebar-list-item {
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
  }

  .toggle-menu-list {
    list-style: none;
    padding: 5px;
    color: #fff;
  }

  .toggle-menu-list a {
    color: #fff;
    text-decoration: none;
  }

  .sidebar-icon {
    margin-right: 5px;
    font-size: 20px !important;
  }
}
